setgid {{ system_group_id }}
setuid {{ system_user_id }}
{% for server in dns -%}
nserver {{ server }}
{% endfor %}
nscache 65536
timeouts 1 5 30 60 180 1800 15 60
daemon
{% if clients is defined and clients is iterable %}
{% for client in clients %}
users "{{ client.name }}:CR:{{ encrypted_passwords.results[loop.index0].stdout }}"
{% endfor %}
auth cache strong
{% else %}
auth none
{% endif %}
proxy -n -p{{ http_port }} -a
socks -n -p{{ socks_port }}
